<script setup lang="ts">
import {
  mdiRename,
  mdiCakeVariant,
  mdiFacebook,
  mdiInstagram,
  mdiPhone,
  mdiMapMarker,
  mdiAccountArrowUp,
  mdiGenderMale,
  mdiSchool,
  mdiArmFlex,
  mdiEmailOutline,
  mdiRectangle,
  mdiHeart,
  mdiCodeTags,
  mdiController,
  mdiHeadphones,
  mdiFoodTurkey,
} from "@mdi/js";
</script>

<template>
  <div class="bg">
    <h1>Portfolio</h1>
    <v-container class="resume" style="padding: 0">
      <v-row style="padding: auto">
        <v-col cols="5" style="padding: 0">
          <img
            src="https://cdn.discordapp.com/attachments/1001487076467953787/1052918418526978098/IMG_20221215_190057.jpg"
            style="
              max-width: 100%;
              height: 500px;
              padding-left: 12px;
              border-radius: 0px 0px 0px 10px;
            "
            cover
          />
          <div class="triangle-right"></div>
          <br />
          <div class="square"></div>
          <h2>ABOUT ME</h2>

          <p><v-icon :icon="mdiRename" style="color: white" /> Than Chayawik</p>
          <p>
            <v-icon :icon="mdiAccountArrowUp" style="color: white" /> 19 Years
            Old
          </p>
          <p><v-icon :icon="mdiGenderMale" style="color: white" /> Male</p>
          <p>
            <v-icon :icon="mdiCakeVariant" style="color: white" /> 10/06/2003
          </p>
          <h2 style="margin-top: 30px">CONTACT</h2>
          <p>
            <v-icon :icon="mdiPhone" style="color: white" />
            0959389589
          </p>
          <p>
            <v-icon :icon="mdiEmailOutline" style="color: white" />
            thanchayawik@gmail.com
          </p>
          <p>
            <v-icon :icon="mdiFacebook" style="color: white" /> Than Chayawik
          </p>
          <p><v-icon :icon="mdiInstagram" style="color: white" /> Thxn.ch</p>
          <p>
            <v-icon :icon="mdiMapMarker" style="color: white" /> Bangsaen ,
            Thailand
          </p>
        </v-col>
        <v-col cols="7" style="padding: 0">
          <h3>
            <v-icon :icon="mdiSchool" style="color: rgb(32, 32, 32)" />
            EDUCATION
          </h3>
          <div
            class="vl"
            style="border-color: rgb(32, 32, 32); margin-bottom: 15px"
          >
            <div style="padding-bottom: 25px">
              <h4>2009 - 2014</h4>
              <h4>Sarasas Witaed Ratchaphruek</h4>
              <p1>Primary school</p1>
            </div>
            <div style="padding-bottom: 25px">
              <h4>2015 - 2017</h4>
              <h4>Triamudomsuksa Nomklao Nonthaburi</h4>
              <p1>Junior high school </p1>
            </div>
            <div style="padding-bottom: 25px">
              <h4>2018 - 2020</h4>
              <h4>Triamudomsuksa Pattanakarn Nonthaburi</h4>
              <p1>Senior high school</p1>
            </div>
            <div>
              <h4>2021 - Now</h4>
              <h4>Computer Science Burapha University</h4>
              <p1>University</p1>
            </div>
          </div>
          <h3>
            <v-icon :icon="mdiArmFlex" style="color: rgb(32, 32, 32)" />
            SKILLS
          </h3>
          <div class="hl"></div>
          <v-row style="margin-top: 20px">
            <v-col>
              <div class="skill">
                <span
                  ><v-img
                    src="https://cdn-icons-png.flaticon.com/512/732/732212.png"
                    width="50px"
                    height="50px"
                    style="margin-left: 40px; margin-top: 30px"
                  />
                </span>
                <span class="rec"
                  ><v-icon
                    :icon="mdiRectangle"
                    size="30px"
                    style="margin-left: 120px; margin-top: -80px"
                  ></v-icon
                ></span>
                <span class="rec"
                  ><v-icon
                    :icon="mdiRectangle"
                    size="30px"
                    style="margin-top: -80px"
                  ></v-icon
                ></span>
                <span class="rec"
                  ><v-icon
                    :icon="mdiRectangle"
                    size="30px"
                    style="margin-top: -80px"
                  ></v-icon
                ></span>
                <span class="rec"
                  ><v-icon
                    :icon="mdiRectangle"
                    size="30px"
                    style="margin-top: -80px"
                    color="rgb(150, 150, 150)"
                  ></v-icon
                ></span>
                <span class="rec"
                  ><v-icon
                    :icon="mdiRectangle"
                    size="30px"
                    style="margin-top: -80px"
                    color="rgb(150, 150, 150)"
                  ></v-icon
                ></span>
              </div>
              <div class="skill">
                <span
                  ><v-img
                    src="https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/121-css3-512.png"
                    width="50px"
                    height="50px"
                    style="margin-left: 40px; margin-top: 30px"
                  />
                </span>
                <span class="rec"
                  ><v-icon
                    :icon="mdiRectangle"
                    size="30px"
                    style="margin-left: 120px; margin-top: -80px"
                  ></v-icon
                ></span>
                <span class="rec"
                  ><v-icon
                    :icon="mdiRectangle"
                    size="30px"
                    style="margin-top: -80px"
                  ></v-icon
                ></span>
                <span class="rec"
                  ><v-icon
                    :icon="mdiRectangle"
                    size="30px"
                    style="margin-top: -80px"
                  ></v-icon
                ></span>
                <span class="rec"
                  ><v-icon
                    :icon="mdiRectangle"
                    size="30px"
                    style="margin-top: -80px"
                    color="rgb(150, 150, 150)"
                  ></v-icon
                ></span>
                <span class="rec"
                  ><v-icon
                    :icon="mdiRectangle"
                    size="30px"
                    style="margin-top: -80px"
                    color="rgb(150, 150, 150)"
                  ></v-icon
                ></span>
              </div>
              <div class="skill">
                <span
                  ><v-img
                    src="https://cdn.worldvectorlogo.com/logos/javascript-1.svg"
                    width="50px"
                    height="50px"
                    style="margin-left: 40px; margin-top: 30px"
                  />
                </span>
                <span class="rec"
                  ><v-icon
                    :icon="mdiRectangle"
                    size="30px"
                    style="margin-left: 120px; margin-top: -80px"
                  ></v-icon
                ></span>
                <span class="rec"
                  ><v-icon
                    :icon="mdiRectangle"
                    size="30px"
                    style="margin-top: -80px"
                  ></v-icon
                ></span>
                <span class="rec"
                  ><v-icon
                    :icon="mdiRectangle"
                    size="30px"
                    style="margin-top: -80px"
                  ></v-icon
                ></span>
                <span class="rec"
                  ><v-icon
                    :icon="mdiRectangle"
                    size="30px"
                    style="margin-top: -80px"
                  ></v-icon
                ></span>
                <span class="rec"
                  ><v-icon
                    :icon="mdiRectangle"
                    size="30px"
                    style="margin-top: -80px"
                    color="rgb(150, 150, 150)"
                  ></v-icon
                ></span>
              </div>
            </v-col>
            <v-col style="margin-left: -70px">
              <div class="skill">
                <span
                  ><v-img
                    src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/267_Python_logo-512.png"
                    width="50px"
                    height="50px"
                    style="margin-left: 40px; margin-top: 30px"
                  />
                </span>
                <span class="rec"
                  ><v-icon
                    :icon="mdiRectangle"
                    size="30px"
                    style="margin-left: 120px; margin-top: -80px"
                  ></v-icon
                ></span>
                <span class="rec"
                  ><v-icon
                    :icon="mdiRectangle"
                    size="30px"
                    style="margin-top: -80px"
                  ></v-icon
                ></span>
                <span class="rec"
                  ><v-icon
                    :icon="mdiRectangle"
                    size="30px"
                    style="margin-top: -80px"
                  ></v-icon
                ></span>
                <span class="rec"
                  ><v-icon
                    :icon="mdiRectangle"
                    size="30px"
                    style="margin-top: -80px"
                  ></v-icon
                ></span>
                <span class="rec"
                  ><v-icon
                    :icon="mdiRectangle"
                    size="30px"
                    style="margin-top: -80px"
                    color="rgb(150, 150, 150)"
                  ></v-icon
                ></span>
              </div>
              <div class="skill">
                <span
                  ><v-img
                    src="https://cdn-icons-png.flaticon.com/512/226/226777.png"
                    width="50px"
                    height="50px"
                    style="margin-left: 40px; margin-top: 30px"
                  />
                </span>
                <span class="rec"
                  ><v-icon
                    :icon="mdiRectangle"
                    size="30px"
                    style="margin-left: 120px; margin-top: -80px"
                  ></v-icon
                ></span>
                <span class="rec"
                  ><v-icon
                    :icon="mdiRectangle"
                    size="30px"
                    style="margin-top: -80px"
                  ></v-icon
                ></span>
                <span class="rec"
                  ><v-icon
                    :icon="mdiRectangle"
                    size="30px"
                    style="margin-top: -80px"
                  ></v-icon
                ></span>
                <span class="rec"
                  ><v-icon
                    :icon="mdiRectangle"
                    size="30px"
                    style="margin-top: -80px"
                  ></v-icon
                ></span>
                <span class="rec"
                  ><v-icon
                    :icon="mdiRectangle"
                    size="30px"
                    style="margin-top: -80px"
                    color="rgb(150, 150, 150)"
                  ></v-icon
                ></span>
              </div>
              <div class="skill">
                <span
                  ><v-img
                    src="https://cdn-icons-png.flaticon.com/512/657/657695.png"
                    width="50px"
                    height="50px"
                    style="margin-left: 40px; margin-top: 30px"
                  />
                </span>
                <span class="rec"
                  ><v-icon
                    :icon="mdiRectangle"
                    size="30px"
                    style="margin-left: 120px; margin-top: -80px"
                  ></v-icon
                ></span>
                <span class="rec"
                  ><v-icon
                    :icon="mdiRectangle"
                    size="30px"
                    style="margin-top: -80px"
                  ></v-icon
                ></span>
                <span class="rec"
                  ><v-icon
                    :icon="mdiRectangle"
                    size="30px"
                    style="margin-top: -80px"
                  ></v-icon
                ></span>
                <span class="rec"
                  ><v-icon
                    :icon="mdiRectangle"
                    size="30px"
                    style="margin-top: -80px"
                  ></v-icon
                ></span>
                <span class="rec"
                  ><v-icon
                    :icon="mdiRectangle"
                    size="30px"
                    style="margin-top: -80px"
                  ></v-icon
                ></span>
              </div>
            </v-col>
          </v-row>
          <h3>
            <v-icon :icon="mdiHeart" style="color: rgb(32, 32, 32)" />
            INTEREST
          </h3>
          <div class="hl" style="width: 300px; margin-left: 250px"></div>
          <div style="text-align: center; padding-top: 50px">
            <v-icon
              :icon="mdiCodeTags"
              style="color: rgb(32, 32, 32); margin: 20px"
              size="50px"
            />
            <v-icon
              :icon="mdiController"
              style="color: rgb(32, 32, 32); margin: 20px"
              size="50px"
            />
            <v-icon
              :icon="mdiHeadphones"
              style="color: rgb(32, 32, 32); margin: 20px"
              size="50px"
            />
            <v-icon
              :icon="mdiFoodTurkey"
              style="color: rgb(32, 32, 32); margin: 20px"
              size="50px"
            />
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style scoped>
.bg {
  background-color: rgb(210, 210, 210);
  background-size: cover;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  background-position: fixed;
}

h1 {
  text-align: center;
  padding: 30px;
  color: rgb(0, 0, 0);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 60px;
}
.resume {
  background-color: rgb(230, 230, 230);
  width: 1000px;
  height: 1200px;
  /* border-radius: 1em; */
  box-shadow: 5px 5px rgb(78, 78, 78);
  margin-bottom: 70px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

h2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  padding-left: 0px;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-top: -680px;
}
.triangle-right {
  width: 0;
  height: 0;
  border-top: 200px solid transparent;
  border-left: 409px solid rgb(32, 32, 32);
  margin-top: 300px;
  margin-left: -409px;
  display: inline-block;
  position: absolute;
}

.square {
  height: 701px;
  width: 409px;
  background-color: rgb(32, 32, 32);
  margin-left: 12px;
  margin-top: -7px;
  z-index: -1;
}

p {
  text-align: left;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 23px;
  margin-left: 40px;
  margin-top: 20px;
}

.line {
  content: " ";
  background-color: black;
  max-width: 100%;
}

h3 {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  text-align: left;
  color: rgb(32, 32, 32);
}

.vl {
  border-left: 5px solid rgb(32, 32, 32);
  height: 460px;
  margin-left: 35px;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

h4 {
  text-align: left;
  color: rgb(32, 32, 32);
  font-family: "Courier New", Courier, monospace;
  font-size: 22px;
  margin-left: 40px;
}

p1 {
  text-align: left;
  color: rgb(32, 32, 32);
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  margin-left: 40px;
  font-weight: bold;
}

.hl {
  border-bottom: 5px solid rgb(0, 0, 0);
  width: 330px;
  margin-left: 215px;
  margin-top: -47px;
}
</style>
